<!DOCTYPE HTML>
<html>
	<head>
		<title>N&amp;N | News</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/news.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="#">News</a></h1>
								<span>netn.space</span>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="http://netn.space/">Home</a></li>
									<li class="current"><a href="{{ site.baseurl }}/">Blog</a></li>
									<li><a href="{{ site.baseurl }}/news">News</a></li>
								</ul>
							</nav>

					</header>
				</div>

			<!-- Banner 
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="7u 12u(medium)">
								<h2>Hi. This is Verti.</h2>
								<p>It's a free responsive site template by HTML5 UP</p>
							</div>
							<div class="5u 12u(medium)">
								<ul>
									<li><a href="#" class="button big icon fa-arrow-circle-right">Ok let's go</a></li>
									<li><a href="#" class="button alt big icon fa-question-circle">More info</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>-->

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row" id="rownews">

						
							
						</div>
					</div>
				</div>

			<!-- Main 
				<div id="main-wrapper">
					<div class="container">
						<div class="row 200%">
							<div class="4u 12u(medium)">

								 Sidebar
									<div id="sidebar">
										<section class="widget thumbnails">
											<h3>Interesting blogs to follow</h3>
											<div class="grid">
												<div class="row 50%">
													<div class="6u"><span class="icon fa-user"></span> <a href="#" style="text-decoration:none" >Tiedetuubi</a></div>
													<div class="6u"><span class="icon fa-user"></span> <a href="#" style="text-decoration:none" >Sähköpurjeen kyydissä</a></div>
													<div class="6u"><span class="icon fa-user"></span> <a href="#" style="text-decoration:none">???</a></div>
												</div>
											</div>
											<a href="#" class="button icon fa-file-text-o">More</a>
										</section>
									</div>

							</div>
							<div class="8u 12u(medium) important(medium)">

								
									<div id="content">
										<section class="last">
											<h2>???</h2>
											<a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
										</section>
									</div>

							</div>
						</div>
					</div>
				</div>-->

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="6u 6u(medium) 12u$(small)">

								<!-- Links -->
									<section class="widget links">
										<h3>Interesting blogs to follow!</h3>
										<ul class="style2">
											<li><span class="icon fa-user"></span> <a href="http://www.tiedetuubi.fi/">Tiedetuubi.fi</a></li>
											<li><span class="icon fa-user"></span> <a href="http://www.electric-sailing.blogspot.fi">Electric sailing</a></li>
										</ul>
									</section>

							</div>
							<!--<div class="3u 6u$(medium) 12u$(small)">

								
									<section class="widget links">
										<h3>Interesting blogs</h3>
										<ul class="style2">
											<li><a href="http://">asd</a></li>
										</ul>
									</section>

							</div>-->
							<div class="3u 12u(medium) 12u$(small)">

								<!-- Links -->
									<!--<section class="widget links">
										<h3>Other sites</h3>
										<ul class="style2">
											<li><a href="http://suomimobiili.fi/">suomimobiili.fi</a></li>
										</ul>
									</section>-->

							</div>
							<!--<div class="3u 6u$(medium) 12u$(small)">

								 Contact
									<section class="widget contact last">
										<h3>Contact Us</h3>
										<a href="http://netn.space/#contact">Contact</a>
										<ul>
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
										</ul>
									</section>

							</div>-->
						</div>
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; N &amp; N</li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/news.js"></script>
			<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>
