---
layout: default
---
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
  </div>
  
  <!-- Right sidebar? -->
  
  <div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
    <div class="4u 12u$(medium)">
    <div id="sidebar">

      <!-- Sidebar -->
        <section>
          <h3>Navigation</h3>
          <ul>
            <li><a href="#">Article 1</a></li>
            <li><a href="#">Article 2</a></li>
            <li><a href="#">Article 3</a></li>
            <li><a href="#">Article 4</a></li>
          </ul>
          <footer>
            <a href="#" class="button icon fa-info-circle">Browse</a>
          </footer>
        </section>

        <section>
          <h3>Widget</h3>
          <ul class="style2">
            <li><a href="#">.</a></li>
          </ul>
        </section>

    </div>
  </div>
    </div>
    </div>
  </div>
  
  <!-- Bottom: -->
  <!-- TODO: right sidebar: archive, external links -->
    <div class="row">
    <div class="6u 6u(medium) 12u$(small)">

      <!-- Links -->
        <section class="widget links">
          <h3>Interesting blogs to follow!</h3>
          <ul class="style2">
            <li><span class="icon fa-user"></span> <a href="http://www.tiedetuubi.fi/">Tiedetuubi.fi</a></li>
            <li><span class="icon fa-user"></span> <a href="http://www.electric-sailing.blogspot.fi">Electric sailing</a></li>
          </ul>
        </section>

    </div>
  </div>

  {% include disqus.html %}
</article>
